.current-city-card {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.current-city-info {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    justify-content: center;
}

.current-city-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.current-city-weather > p {
    font-size: 300%;
}

.current-city-weather > img {
    max-width: 100px;
    max-height: 100px;
}

.current-weather-property {
    min-width: 45%;
}

.favorites-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.weather-property > li {
    background-color: rgb(167, 175, 176);
    margin-top: 10px;
    color: rgb(238, 246, 249);
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.weather-property > li > .property-key {
    font-weight: bold;
    font-size: large;
}

.weather-property > li > .property-value {
    font-size: medium;
    margin-left: 7px;
}

.city-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.city-card {
    display: flex;
    flex-direction: column;
    min-width: 45%;
    margin: 50px 0px 0px 0px;
}

.city-card-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}

.tempareture-font-color {
    color: rgb(125, 125, 125);
    font-size: x-large;
}

.city-font-color {
    color: rgb(111, 129, 131);
}

.remove-button {
    border: none;
    outline: none;
    background: none;
    background-color:rgb(112, 130, 138);
    border-radius: 50%;
    font-size: x-large;
    max-width: 60px;
    max-height: 60px;
    min-width: 40px;
    min-height: 40px;
    color: white;
}

.add-button {
    border: none;
    background-color:rgb(112, 130, 138);
    border-radius: 50%;
    font-size: x-large;
    max-height: 60px;
    max-width: 60px;
    min-width: 40px;
    min-height: 40px;
    margin-left: 20px;
}

.geo-button {
    background-color: rgb(201, 210, 215);
    min-width: 150px;
    min-height: 50px;
    border-radius: 8px;
    font-size: medium;
    border: none;
}

.geo-button .desktop {
    display: none;
}

.geo-button .mobile {
    font-size: xx-large;
}

.new-city-add-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 60%;
}

.new-city-input {
    background-color: rgb(241, 241, 241);
    max-height: 50px;
    min-width: 70%;
    border: none;
    border-radius: 3px;
    padding: 8px;
}

.loader {
    width: 100%;
}

.error {
    align-self: baseline;
}

@media all and (min-width: 321px) {
    .geo-button {
        min-width: 250px;
    }

    .geo-button .mobile {
        display: none;
    }

    .geo-button .desktop {
        display: block;
    }
}

@media all and (min-width: 500px)
{
    body {
        margin: 35px 55px 35px 55px
    }

    .city-card-header {
        font-size: xx-large;
    }

    .tempareture-font-color {
        font-size: xx-large;
    }

    .weather-property > li > .property-key {
        font-size: x-large;
    }

    .weather-property > li > .property-value {
        font-size: large;
    }

    h2 {
        font-size: 180%;
    }

    .current-city-weather > img {
        max-width: 250px;
        max-height: 250px;
    }

    .current-city-weather > p {
        font-size: 330%;
    }
}

@media all and (max-width: 600px)
{
    .new-city-add-area {
        margin-top: 10px;
        min-width: 100%;
    }

    .new-city-input {
        width: 100%;
    }

    .geo-button {
        margin-top: 10px;
    }

    .favorites-header {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    header {
        justify-content: center;
    }
}

@media all and (max-width: 935px)
{
    .current-city-card {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .favorites-header {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .city-cards-container {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .city-card {
        width: 100%;
    }

    .current-weather-property {
        width: 100%;
    }

    .current-city-info {
        align-items: center;
    }
}